
    .box {
        width: 150px;
        height: 150px;
        background:yellow;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 20px;
        transition: background-color 5s ease-out;
        transition:5s;
        }
        .box:hover {
        border: 100px solid red;
        border-radius: 50%;
        transform: translate(50px, 50px)rotate(180deg) scale(0.7) skew(10deg);
        cursor: pointer;
        }
        